.comma_color {
    color: #ff0000;
    margin-top: 8px;
}

.comma_font {
    font-family: Amiko;
}

.comma_small_text {
    font-size: 4;
}

.comma_small_text {
    font-size: 4;
}

.comma_small_text {
    font-family: Roboto;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
}

chico {
    font-size: 11px;
}

bordes {
    border-radius: 8px;
}

bordes {
    border-radius: 8px;
}

.bordes {
    border-radius: 8px;
    height: 134px;
}

.chances_moderate {
    width: 54%;
    background-color: #f7c640;
}

.chances_high {
    background-color: #0e9003;
    width: 95%;
}

.chances_low {
    width: 10%;
    background-color: #d20000;
}

.footerz {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #aeadad;
}

.my_requests_fotos {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 133px;
}