.comma_color {
    color: #ff0000;
    margin-top: 8px;
}

.comma_font {
    font-family: Amiko;
}

.comma_small_text {
    font-size: 4;
}

.comma_small_text {
    font-size: 4;
}

.comma_small_text {
    font-family: Roboto;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
}

chico {
    font-size: 11px;
}

bordes {
    border-radius: 8px;
}

bordes {
    border-radius: 8px;
}

.bordes {
    border-radius: 8px;
}

.chances_moderate {
    width: 75%;
    background-color: #f7c640;
}